#nav-holder
  = render partial: '/layouts/partials/nav'
#stats-container
  %h1
    Done with your day at the fish store.
  %h4
    You now have
    = number_to_currency(@user.funds)
    = number_to_currency(@user.funds - 250)
    from where you started.
  #stats-text
    %h4
      You had
    - @users_fish.each do |fish|
      %h6
        = fish.name
        the
        = fish.species.name
    %h6
      Hopefully you sold them all.......
  #nemo-high-five

#bottom-buttons
  %a.button.round{:href => "/some/route/twitter"} Tweet your Stats and get ..?
  %a.button.round{:href => "/game/new"} Play a new game
  %a.button.round{:href => "/paypal/stuff"} Get more funds to buy cooler fish.
