%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} Fishstore
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
        %li
          = link_to 'paypal', paypal_stuff_path
        -if notice
          %li
            = link_to notice, new_user_session_path
        - if alert 
          %li
            = link_to alert, new_user_session_path
        %li.active
        - if current_user
          %li
            = link_to 'Sign Out', destroy_user_session_path, :method => :delete
          %li
            = link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter) 
