%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} Fishstore
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
        %li
          = link_to 'game setup', game_new_path
        %li
          = link_to 'stats', game_stats_path
        %li
          = link_to 'paypal', paypal_stuff_path
        %li
          = link_to 'fish', new_fish_path
        %li
          = link_to 'new game', game_play_path
        %li.active
        - if current_user
          %li
            = link_to 'sign_out', destroy_user_session_path, :method => :delete
