#game
  #counter
    %a.button.start-game{:href => "/game/play"} Start the game
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        -if users_aquarium.fishes.count == 0
          Tank holds:
          = users_aquarium.fish_capacity
          fish.
        -else
          Tank holds: 
          = users_aquarium.fish_capacity - users_aquarium.fishes.count
          more fish.
        -if users_aquarium.fishes
          -users_aquarium.fishes.each do |fish|
            .fish-in-aquarium
              = image_tag fish.species.image, :class => "fish_pic"
              fish
              %h3.hidden= users_aquarium
        %p.hidden= users_aquarium.id
  #supply-store
    #aquaria-supply
      .aquarium
        This one hold 3 fish
      .aquarium
        This one hold 5 fish
      .aquarium
        This one hold 8 fish
      .aquarium
        This one hold 15 fish
    #species-supply
      - @species.each do |species|
        .fish-div.draggable
          .hidden 
            species 
          = species.name         
= javascript_include_tag 'play'