#game-set-up
  #counter
    %a.button.start-game{:href => "/game/play"} Start the game
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        Aquarium that can hold 
        = users_aquarium.fish_capacity
        more fish
        -if users_aquarium.fishes
          -users_aquarium.fishes.each do |fish|
            .fish-in-aquarium
              = fish.name
        %p.hidden= users_aquarium.id
  #supply-store
    #aquaria-supply
      - @aquaria.each do |aquaria|
        .aquarium
          = link_to "Buy an Aquarium that can hold #{aquaria.fish_capacity} fish.", sell_me_path(id: aquaria.id), method: :post, class: 'button small'
    #species-supply
      - @species.each do |species|
        .fish-div.draggable 
          = species.name          
= javascript_include_tag 'setup'