%h1
  Game SetUp


#game-set-up
  %a.button{:href => "/game/play"} Start the game
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        Aquarium that can hold 
        = users_aquarium.fish_capacity
        more fish
        = users_aquarium.id

  #supply-store
    #aquaria-supply
      - @aquaria.each do |aquaria|
        .aquarium
          = link_to "Buy an Aquarium that can hold #{aquaria.fish_capacity} fish.", sell_me_path(id: aquaria.id), method: :post, class: 'button small'
    #species-supply
      / .fish-div.draggable 1
      / .fish-div.draggable 2
      / .fish-div.draggable 3
      / .fish-div.draggable 4
      - @species.each do |species|
        .fish-div.draggable 
          = species.name
      :javascript
        $('.fish-div').draggable();



