#game
  #counter 
    %h6#customer-instructions
      When the customers show up over here  => sell them a fish 
    #customer.droppable
    #counter-bar
    #funds-holder
      #funds
        %p Current Funds:
        %p 
          = number_to_currency(current_user.funds) 
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      #aquarium-holder
        .users-aquarium.droppable{:'data-id' => users_aquarium.id}
          -if users_aquarium.fishes
            -users_aquarium.fishes.each do |fish|
              .fish-in-aquarium{:'data-id' => fish.id}
                = image_tag fish.species.image, :class => "fish_pic"
                fish
                %h3.hidden= users_aquarium
          %p.hidden= users_aquarium.id
          %h1.hidden= users_aquarium.dirtiness_level
          %h2.hidden= users_aquarium.hunger_level
        .dirtiness-bar-holder
          .tank-dirtiness-bar 
        .tank-food-bar

  #supply-store
    #aquaria-supply
      #water-maker
        water
      #water-maker-info
        %p
          <- 
          Click on me to make fresh water!
          When I'm full, drag me over a tank with dirty water(green bars)
          to clean it!
    #species-supply
      #food-maker
        food
      #food-maker-info
        %p
          <- 
          Click on me to make fish food!
          When I'm full, drag me over a tank that needs food(rainbow bars)
          to feed it!  
= javascript_include_tag "play"
