!!!
%html
  %head
    %title FishStoreApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.jpg'
  %body
    #nav-holder
      = render partial: '/layouts/partials/nav'
    %p LOGIN::  foo@example.com  qwerty
    %p.notice= notice
    %p.alert= alert
    = yield
    :javascript
      $(document).foundation();
